<div class="drop-menu btn-group">
  <button
    type="button"
    dropdown
    class="btn btn-menu "    
    aria-expanded="false"
    data-bs-toggle="dropdown"
  >
  <img src="/assets/img/menu-item-padrao.PNG" alt="" class="me-3">
   <img src="/assets/img/Menu.svg" alt="">
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/dashboard">Dashboard de Vendas</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item" href="/clientes">Clientes</a></li>
 </ul>
</div>
