<div class="input-holder">
  <form [formGroup]="formLogin" class="d-flex flex-column justify-content-center" (ngSubmit)="submit()">
    <img src="assets/img/login.png" alt="" class="img-login" />
    <hr class="me-2 ms-1 mt-0 mb-5" />
    
    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="emailAddress" id="login" class="input-style">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <mat-icon matSuffix style="cursor: pointer;" (click)="show_eye = !show_eye">
        {{!show_eye ?'visibility':'visibility_off'}}</mat-icon>
      <input matInput id="senha" formControlName="password" type="{{!show_eye ?'text':'password'}}">
    </mat-form-field>

    <div class="w-100 d-flex justify-content-between mb-4">
      <label class="check-holder">Lembrar-me
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <a href="/" class="forgot fw-bold">Esqueceu a senha?</a>
    </div>
    <button type="submit" class="btn btn-submit mt-4 fw-bold" id="cursor-pointer">
      Entrar
    </button>
    <div class="d-flex align-items-center justify-content-center mt-2">
      <span > Não tem uma conta? </span>
      <span class="ms-1 fw-bold"> Cadastre-se</span>
    </div>
  </form>
</div>