form {
    width: 384px;
}

.img-login {
    width : 99px;
    height: 51px;
}

.btn-submit {
    background: #260f41;
    color     : #fff;
    height    : 54px;
    &::before {
        background-color: #48276e;
    }
}
.forgot{
    text-decoration: none;
    color: #000;
}