.user-menu {
    display    : flex;
    align-items: center;
  justify-content: end;
    .perfil {
        width : 25%;
        height: 25%;
    }

    .chevron {
        width : 5%;
        height: 5%;
    }
}