<div class="background">
    <div class="main-container">
        <div class="session-nav">
          <div class="header-menu">
            <div class="menu-drop">
              <app-menu-dropdown></app-menu-dropdown>
              <span class="title">DOUBLEIT </span>
            </div>
            <div class="user-drop">
              <app-user-drop> </app-user-drop>
            </div>
          </div>
          <div class="header-info">
            <span class="title-dash"> Dashboard de Vendas DoubleIt </span>
            <div class="filter-year">
              <span class="title-dash-info me-3"> Selecionar ano </span>
              <div class="select-year">
                2022
                <span class="select">
                  <img src="/assets/img/chevron-down.png" alt="" />
                </span>
              </div>
            </div>
          </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>       
