// .session-nav{
//     width: 1920px;
//     height: 355px;
//     background: #121925 0% 0% no-repeat padding-box;
//     box-shadow: 0px 2px 4px #0000001F;

//     .header-menu{
//         display: flex;
//         justify-content:space-between;
//         align-items:center;

//         .menu-drop{

//         }
//     }
// }

.background{
    background-color: #EDEDED;
    background-image: url(../../assets/img/bg.png);
    background-repeat: repeat-x;
    width     : 100vw;
    height    : 100vh;
}