@import "../../assets/scss/breakpoints.scss";

.card-infos {
    display        : flex;
    justify-content: space-evenly;
    align-items    : center;

    &.row>* {
        padding-right: 0px !important;
        padding-left : 0px !important;
    }

    @include for-phone-only {
        justify-content: space-between;
    }

    .card {
        height         : 156px;
        background     : #FFFFFF 0% 0% no-repeat padding-box;
        border         : 1px solid #C6C6C6;
        border-radius  : 21px;
        justify-content: center;

        @include for-phone-only {
            height: 125px;
        }
    }

}

.card-graphic {
    margin-top     : 20px;
    display        : flex;
    align-items    : center;
    justify-content: space-around;

    &.row>* {
        padding-right: 0px !important;
        padding-left : 0px !important;
    }

    .cards {
        height       : 310px;
        background   : #FFFFFF 0% 0% no-repeat padding-box;
        border       : 1px solid #C6C6C6;
        border-radius: 21px;
        padding      : 20px 30px;

        img {
            width : 30px;
            height: 30px;
        }
    }
}

.title-cards {
    font      : normal normal 600 18px Poppins;
    text-align: left;
    color     : #1F1F1F;
}

.title-value {
    font      : normal normal 600 44px Poppins;
    text-align: left;
    color     : #1F1F1F;

    @include for-small-notebook {
        font      : normal normal 600 44px Poppins;
        margin-top: 20px;
    }
    @include for-tablet-landscape-only {
        font      : normal normal 600 35px Poppins;
        margin-top: 0px;
    }
}

.tiitle-value {
    font      : normal normal 600 44px Poppins;
    text-align: left;
    color     : #1F1F1F;

    @include for-small-notebook {
        font      : normal normal 600 40px Poppins;
        margin-top: 0px;
    }
    @include for-tablet-landscape-only {
        font      : normal normal 600 35px Poppins;
        margin-top: 0px;
    }

}


.chart-holder {
    margin-top     : 10px;
    height         : 240px;
    width          : 100%;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.myChart3 {
    height         : 380px;
    width          : 60%;
    margin-left    : 25%;
    display        : flex;
    align-items    : start;
    justify-content: center;

    @include for-phone-only {
        height     : 304px;
        width      : 80vw;
        margin-left: 0%;
    }

    @include for-desktop-only {
        width: 57%;
    }
}